/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$mainColor : #2da8c9;
$dGray : #bfbfbf;
$lGray : #ebebeb;
$headerFontFam : Goudy;
$contentFontFam : calibri;
$numberFontFam : Lucida Sans;
$bRadiusSize : 5px;
$bRadiusButtonSize : 5px;
$h1FontSize : 65px;
$h2FontSize : 42px;

body{
}

header{
  width: 100%;
  margin: 0;
  background-color: $mainColor;
  height: 250px;
  color: #ffffff;
    div{
      float: left;
      margin-top: 5%;
    }
}

.logo-div{
  margin-left: 10%;
  width: 170px;
}

img.logo{
  width: 100%;
  height: 100%;
}

.menu-div{
  width: 40%;
  margin-left: 3%;
  margin-right: 3%;
  padding-top: 20px;
  ul{
    list-style-type: none;
    li{
      display: inline-block;
      border-right: 2px solid #ffffff;
      a{
        text-decoration: none;
        color: #ffffff;
        font-size: 25px;
        padding-left: 20px;
        padding-right: 20px;
      }
      a:hover{
        text-decoration: underline;
      }
    }
    li:last-child{
      border-right: none;
    }
  }
}

.search-div{
  border: 1px solid #ffffff;
  margin-top: 70px;
  width: 220px;
  border-radius: 10px;
  padding: 0%;

  input{
    height: 35px;
    width: 180px;
    border-style: none;
    background-color: transparent;
    font-size: 15pt;
    margin-left: 7px;
  }
  input:focus {
    outline-color: transparent;
    outline-style: none;
    color: #ffffff;
  }
  img{
    float: right;
    width: 25px;
    height: 25px;
    padding: 7px 7px 7px 0px;
  }

}

section{
  text-align: center;
  font-family: $contentFontFam;

  div{
    margin-top: 35px;

    h1{
      color: $mainColor;
      font-size: $h1FontSize;
      font-weight: bold;
    }
    h2{
      color: $mainColor;
      font-size: $h2FontSize;
    }
  }
  div:last-child{
    margin-top: 10px;
    margin-bottom: 35px;
  }
}

footer{
  div {
    clear: both;
    background-color: $dGray;
    font-family: $contentFontFam;
    text-align: center;

    div.circles {
      width: 35%;
      margin: 0 auto;
      div {
        display: inline-block;
        padding: 30px;
        border-radius: 30px;
        margin-left: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: #ffffff;
      }
    }

    div.links {
      width: 70%;
      margin: 0 auto;
      clear: both;
      margin-bottom: 20px;
      ul {
        list-style: none;
        li {
          display: inline-block;
          border-right: 2px solid #ffffff;
          padding-left: 20px;
          padding-right: 20px;
          a {
            text-decoration: none;
            color: #ffffff;
            font-size: 25px;
          }
          a:hover {
            text-decoration: underline;
          }
        }
        li:last-child {
          border-right: 0;
        }
      }
    }

    div.copy-right {
      width: 50%;
      margin: 0 auto;
      color: #ffffff;
      font-size: 20px;
    }
  }
}

/*
Form content
*/

.float-left{
  float: left;
}

.float-right{
  float: right;
}
.form-head-font{
  padding: 0 0 0 2%;
  font-family: $contentFontFam;
  font-size: 28px;
  color: $mainColor;
}

#right-form-head-font{
  padding: 0 0 0 9%;
  font-family: $contentFontFam;
  font-size: 28px;
  color: $mainColor;
}

.first-page-div {
  margin: 0% 15% 0% 15%;
  border: 2px solid $lGray;
  align: center;

  div {
    @extend .float-left;
  }

  div.phase-div{
    //border: 1px solid orangered;
    margin: 5% 5% 5% 5%;
    width: 90%;

    div.dash-div {
      position: absolute;
      z-index: -1;
      margin-left: 5%;
      margin-top: 42px;
      width: 50%;
      border: 8px solid $dGray;
    }

    div.round-div {
      z-index: 0;
      margin: 0 3% 0 4%;
      font-family: $numberFontFam;
      background: white;
      font-size: 50px;
      color: $mainColor;
      border: 13px solid $dGray;
      padding: 10px 21px 10px 21px;
      border-radius: 80px;
    }

    div.round-color{
      background: $mainColor;
      color: white;
    }

  }

  div#circle-center{
    margin: 0 25% 0 25%;
  }

  .form-first-page-div {
    clear: both;
    width: 90%;
    margin: 0px 5% 0% 5%;
    background: $lGray;
    border-radius: 10px;
    padding-bottom: 2%;

    div.header-text {
      padding: 25px;
      font-family: "Arial";
      font-size: 40px;
      color: $mainColor;
    }

    form {

      font-family: $contentFontFam;

      div.center-div {
        //border: 1px solid blue;
        margin: 0% 7% 0% 7%;
        width: 90%;
        div.row-div {

          //border: 1px solid red;
          width: 100%;
          margin: 0% 0% 2% 0%;

          div.checkbox{
            margin-top: 3%;
            display: inline-block;

            input{
              width: 30px;
              height: 30px;
              position: absolute;
              z-index: 1;
              opacity: 0;
            }
            span {
              width: 30px;
              height: 30px;
              display: block;
              background: #ffffff;
              border-radius: 10px;
            }

            input:checked + span {
              background: url("../images/checkIcon.png");
            }

            div{
              color : $mainColor;
              font-size: 25px;
              margin-top: 2%;
              margin-left: 5%;
              width: 100%;
            }

          }


          div.fullWidth {
            //border: 1px solid red;
            clear: both;
            width: 100%;
            input {
              border: 1px solid white;
              height: 50px;
              width: 97%;
              border-radius: 10px;
              font-size: 30px;
            }

            textarea{
              width: 97%;
              height: 160px;
              border-radius: 10px;
              border-style: none;
              margin-top: 1%;
            }

          }

          div.halfWidth-div {
            //border: 1px solid black;
            display: inline-block;
            width: 49%;

            div.left {
              input {
                @extend .float-left;
                border: 1px solid white;
                height: 50px;
                width: 95%;
                border-radius: 10px;
                font-size: 30px;
              }
            }

            div.right {

              input {
                @extend .float-right;
                border: 1px solid white;
                height: 50px;
                width: 95%;
                border-radius: 10px;
                font-size: 30px;
              }
            }

          }



        }
      }
    }

  }

  .button-div{
    //border: 1px solid darkgreen;
    margin: 3% 0 12% 5%;
    padding: 0px;
    width: 90%;
      a{
        div.button-back {

          @extend .float-left;
          display: inline-block;
          padding: 15px;
          background: $mainColor;
          text-align: center;
          width: 35%;
          border-radius: 10px;
          font-family: $contentFontFam;
          font-size: 45px;
          color: #ffffff;

        }
      }

    a{
      div.button-next {

        @extend .float-right;
        display: inline-block;
        padding: 15px;
        background: $mainColor;
        text-align: center;
        width: 35%;
        border-radius: 10px;
        font-family: $contentFontFam;
        font-size: 45px;
        color: #ffffff;

      }
    }
  }

}

