/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 22, ../sass/screen.scss */
header {
  width: 100%;
  margin: 0;
  background-color: #2da8c9;
  height: 250px;
  color: #ffffff;
}
/* line 28, ../sass/screen.scss */
header div {
  float: left;
  margin-top: 5%;
}
/* line 31, ../sass/screen.scss */
header div img.logo {
  width: 100%;
  height: 100%;
}
/* line 37, ../sass/screen.scss */
header div.logo-div {
  margin-left: 10%;
  width: 170px;
}
/* line 42, ../sass/screen.scss */
header div.menu-div {
  width: 40%;
  margin-left: 3%;
  margin-right: 3%;
  padding-top: 20px;
}
/* line 48, ../sass/screen.scss */
header div.menu-div nav ul {
  list-style-type: none;
}
/* line 50, ../sass/screen.scss */
header div.menu-div nav ul li {
  display: inline-block;
  border-right: 2px solid #ffffff;
}
/* line 53, ../sass/screen.scss */
header div.menu-div nav ul li:last-child {
  border-right: none;
}
/* line 56, ../sass/screen.scss */
header div.menu-div nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 62, ../sass/screen.scss */
header div.menu-div nav ul li a:hover {
  text-decoration: underline;
}
/* line 71, ../sass/screen.scss */
header div.search-div {
  border: 1px solid #ffffff;
  margin-top: 70px;
  width: 220px;
  border-radius: 10px;
  padding: 0%;
}
/* line 78, ../sass/screen.scss */
header div.search-div input {
  height: 35px;
  width: 180px;
  border-style: none;
  background-color: transparent;
  font-size: 15pt;
  margin-left: 7px;
}
/* line 86, ../sass/screen.scss */
header div.search-div input:focus {
  outline-color: transparent;
  outline-style: none;
  color: #ffffff;
}
/* line 91, ../sass/screen.scss */
header div.search-div img {
  float: right;
  width: 25px;
  height: 25px;
  padding: 7px 7px 7px 0px;
}

/* line 102, ../sass/screen.scss */
section {
  text-align: center;
  font-family: calibri;
}
/* line 106, ../sass/screen.scss */
section div {
  margin-top: 35px;
}
/* line 109, ../sass/screen.scss */
section div h1 {
  color: #2da8c9;
  font-size: 65px;
  font-weight: bold;
}
/* line 114, ../sass/screen.scss */
section div h2 {
  color: #2da8c9;
  font-size: 42px;
}
/* line 119, ../sass/screen.scss */
section div:last-child {
  margin-top: 10px;
  margin-bottom: 35px;
}

/* line 127, ../sass/screen.scss */
footer div {
  clear: both;
  background-color: #bfbfbf;
  font-family: calibri;
  text-align: center;
}
/* line 133, ../sass/screen.scss */
footer div div.circles {
  width: 35%;
  margin: 0 auto;
}
/* line 136, ../sass/screen.scss */
footer div div.circles div {
  display: inline-block;
  padding: 30px;
  border-radius: 30px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
}
/* line 147, ../sass/screen.scss */
footer div div.links {
  width: 70%;
  margin: 0 auto;
  clear: both;
  margin-bottom: 20px;
}
/* line 152, ../sass/screen.scss */
footer div div.links ul {
  list-style: none;
}
/* line 154, ../sass/screen.scss */
footer div div.links ul li {
  display: inline-block;
  border-right: 2px solid #ffffff;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 159, ../sass/screen.scss */
footer div div.links ul li:last-child {
  border-right: 0;
}
/* line 162, ../sass/screen.scss */
footer div div.links ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
}
/* line 166, ../sass/screen.scss */
footer div div.links ul li a:hover {
  text-decoration: underline;
}
/* line 174, ../sass/screen.scss */
footer div div.copy-right {
  width: 50%;
  margin: 0 auto;
  color: #ffffff;
  font-size: 20px;
}

/*
Form content
*/
/* line 187, ../sass/screen.scss */
.float-left, .first-page-div div, .first-page-div .form-first-page-div form div.center-div div.row-div div.halfWidth-div div.left input, .first-page-div .button-div a div.button-back, .first-page-div .button-div a div.button-next {
  float: left;
}

/* line 191, ../sass/screen.scss */
.float-right, .first-page-div .form-first-page-div form div.center-div div.row-div div.halfWidth-div div.right input, .first-page-div .button-div a div.button-next {
  float: right;
}

/* line 194, ../sass/screen.scss */
.form-head-font {
  padding: 0 0 0 2%;
  font-family: calibri;
  font-size: 28px;
  color: #2da8c9;
}

/* line 201, ../sass/screen.scss */
#right-form-head-font {
  padding: 0 0 0 9%;
  font-family: calibri;
  font-size: 28px;
  color: #2da8c9;
}

/* line 208, ../sass/screen.scss */
.first-page-div {
  margin: 0% 15% 0% 15%;
  border: 2px solid #ebebeb;
  align: center;
}
/* line 217, ../sass/screen.scss */
.first-page-div div.phase-div {
  margin: 5% 5% 5% 5%;
  width: 90%;
}
/* line 222, ../sass/screen.scss */
.first-page-div div.phase-div div.dash-div {
  position: absolute;
  z-index: -1;
  margin-left: 5%;
  margin-top: 42px;
  width: 50%;
  border: 8px solid #bfbfbf;
}
/* line 231, ../sass/screen.scss */
.first-page-div div.phase-div div.round-div {
  z-index: 0;
  margin: 0 3% 0 4%;
  font-family: Lucida Sans;
  background: white;
  font-size: 50px;
  color: #2da8c9;
  border: 13px solid #bfbfbf;
  padding: 10px 21px 10px 21px;
  border-radius: 80px;
}
/* line 243, ../sass/screen.scss */
.first-page-div div.phase-div div.round-color {
  background: #2da8c9;
  color: white;
}
/* line 250, ../sass/screen.scss */
.first-page-div div#circle-center {
  margin: 0 25% 0 25%;
}
/* line 254, ../sass/screen.scss */
.first-page-div .form-first-page-div {
  clear: both;
  width: 90%;
  margin: 0px 5% 0% 5%;
  background: #ebebeb;
  border-radius: 10px;
  padding-bottom: 2%;
}
/* line 262, ../sass/screen.scss */
.first-page-div .form-first-page-div div.header-text {
  padding: 25px;
  font-family: "Arial";
  font-size: 40px;
  color: #2da8c9;
}
/* line 269, ../sass/screen.scss */
.first-page-div .form-first-page-div form {
  font-family: calibri;
}
/* line 273, ../sass/screen.scss */
.first-page-div .form-first-page-div form div.center-div {
  margin: 0% 7% 0% 7%;
  width: 90%;
}
/* line 277, ../sass/screen.scss */
.first-page-div .form-first-page-div form div.center-div div.row-div {
  width: 100%;
  margin: 0% 0% 2% 0%;
}
/* line 283, ../sass/screen.scss */
.first-page-div .form-first-page-div form div.center-div div.row-div div.checkbox {
  margin-top: 3%;
  display: inline-block;
}
/* line 287, ../sass/screen.scss */
.first-page-div .form-first-page-div form div.center-div div.row-div div.checkbox input {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 1;
  opacity: 0;
}
/* line 294, ../sass/screen.scss */
.first-page-div .form-first-page-div form div.center-div div.row-div div.checkbox span {
  width: 30px;
  height: 30px;
  display: block;
  background: #ffffff;
  border-radius: 10px;
}
/* line 302, ../sass/screen.scss */
.first-page-div .form-first-page-div form div.center-div div.row-div div.checkbox input:checked + span {
  background: url("../images/checkIcon.png");
}
/* line 306, ../sass/screen.scss */
.first-page-div .form-first-page-div form div.center-div div.row-div div.checkbox div {
  color: #2da8c9;
  font-size: 25px;
  margin-top: 2%;
  margin-left: 5%;
  width: 100%;
}
/* line 317, ../sass/screen.scss */
.first-page-div .form-first-page-div form div.center-div div.row-div div.fullWidth {
  clear: both;
  width: 100%;
}
/* line 321, ../sass/screen.scss */
.first-page-div .form-first-page-div form div.center-div div.row-div div.fullWidth input {
  border: 1px solid white;
  height: 50px;
  width: 96%;
  border-radius: 10px;
  font-size: 30px;
}
/* line 329, ../sass/screen.scss */
.first-page-div .form-first-page-div form div.center-div div.row-div div.fullWidth textarea {
  width: 96%;
  height: 160px;
  border-radius: 10px;
  border-style: none;
  margin-top: 1%;
  font-size: 20px;
}
/* line 340, ../sass/screen.scss */
.first-page-div .form-first-page-div form div.center-div div.row-div div.halfWidth-div {
  display: inline-block;
  width: 48%;
}
/* line 346, ../sass/screen.scss */
.first-page-div .form-first-page-div form div.center-div div.row-div div.halfWidth-div div.left input {
  border: 1px solid white;
  height: 50px;
  width: 95%;
  border-radius: 10px;
  font-size: 30px;
}
/* line 358, ../sass/screen.scss */
.first-page-div .form-first-page-div form div.center-div div.row-div div.halfWidth-div div.right input {
  border: 1px solid white;
  height: 50px;
  width: 95%;
  border-radius: 10px;
  font-size: 30px;
}
/* line 378, ../sass/screen.scss */
.first-page-div .button-div {
  margin: 3% 0 12% 5%;
  padding: 0px;
  width: 90%;
}
/* line 384, ../sass/screen.scss */
.first-page-div .button-div a div.button-back, .first-page-div .button-div a div.button-next {
  display: inline-block;
  padding: 15px;
  background: #2da8c9;
  text-align: center;
  width: 35%;
  border-radius: 10px;
  font-family: calibri;
  font-size: 45px;
  color: #ffffff;
}
